body{
    background-color: rgb(184, 176, 176);
}

#caja1{
    background-color: red;
    width: 80%;
    border: 3px dashed blue;
    padding: 30px;
    margin: 30px auto;
}

#caja2{
    background-color: yellow;
    width: 70%;
    border: 2px solid black;
    border-top-width: 10px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

p{
    background-color: lime;
    border: 5px dotted red;
    margin-bottom: 40px;
    padding-bottom: 20px;
    
}
