body {background:  #bbb url(./imagenes/bg_page.png) repeat-y fixed center}

#contenido {background-position: center; 
            width: 750px; 
            margin: 0 auto;}

img {
    border: solid 3px;}

h1{ font-family: Calibri; 
    font-size: 32px; 
    color: darkred; 
    text-align: center;
    }

h2{ text-decoration: underline; 
    }

h3{
    font-family: Verdana;
    font-size: 20px;
    color: navy;
    letter-spacing: 4px;
}

p{  font-family: Verdana; 
    font-size: 16px; 
    color: gray; 
    }

.cuadrado{
    list-style-type: square ;
}