a-link{ /*Si nunca se ha visitado se coloca de este color*/
    color: black;
}

a:visited{ /*Si se ha visitado se coloca de este color*/
    color: black;
}

a:focus{ /*Si pones el cursor encima se coloca de este color*/
    border-bottom: 1px solid;
    background-color: rgb(148, 141, 141);
}

a:hover{ /*Cuando utilizas el teclado para seleccionar*/
    border-bottom: 1px solid;
    background-color: white;
}

a:active{ /*Cuando se mantiene pulsado*/
    background-color: black;
    color: rgb(255, 255, 255);
}

body{
    background: url(./fondo_v2.png) repeat fixed center;

}

#content{
    margin: 0 auto;
    width: 750px;
    background-position: center;
    background-color: rgba(208, 199, 199, 0.72);
    border-radius: 20px;
    min-height: 400px;
}

section{
    margin: 5%;
}

h1{
    text-align: center;
}

h2{
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
}
h4{
    text-align: center;
}

footer{
    bottom: 0;
}
