.naranja{
	width:100%;
	height: 70px;
	background-color: orange;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: stretch;
	border: solid 1px;
}
.imagen{
	background-image: url(./azul.jpg);
	width:100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
    
}
.cuadro-naranja{
	background-color: orange;
	margin: 50px;
	width:100px;
	height: 60px;
	border: solid 1px;
}
.blanco{
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	width:100%;
	height: 130px;
	
}


.gris1{
	background-color: grey;
	margin: 2px;
	width:120%;
	height: 110px;
	margin-left: 2%;
	border: solid 1px;
}
.gris2{
	background-color: grey;
	margin: 2px;
	width:120%;
	height: 110px;
	border: solid 1px;
	
}
.gris3{
	background-color: grey;
	margin: 2px;
	width:120%;
	height: 110px;
	margin-right: 2%;
	border: solid 1px;
		
}

.verde{
	background-color: green;
	width:100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	border: solid 1px;
}



.morado-dentro-naranja {
	background-color: rgb(182, 121, 182);
    width: 150px;
    height: 30px;
    margin: 5px;
	border: solid 1px;
}


.morado-abajo1{
	background-color: rgb(182, 121, 182);
	height: 35px;
	width: 30%;
	margin: 3px;
	border: solid 1px;
	margin-left: 3%;
}
.morado-abajo2{
	background-color: rgb(182, 121, 182);
	height: 35px;
	width: 50%;
	margin: 5px;
	border: solid 1px;
}
.morado-abajo3{
	background-color: rgb(182, 121, 182);
	height: 35px;
	width: 20%;
	margin: 5px;
	border: solid 1px;
	margin-right: 3%;
	
}