.clase1 {font-family:'Times New Roman', Times, serif; color: rgb(76, 235, 76);}
.clase2 {font-family: Arial, Helvetica, sans-serif; color: coral;}
.clase3 {font-family: cursive; color: cornflowerblue;}
.clase4 {font-family: fantasy; color: crimson;}
.clase5 {font-family: 'Courier New', Courier, monospace; color: darkolivegreen;}
.clase6 {font-family: 'Reenie Beanie', cursive; color: red; font-size: x-large; }
.clase7 {font-family: 'Lucida Sans', 'Lucida Sans Regular'; color: rgb(86, 86, 199); font-size:300%; text-align: center;
        text-shadow: 2px 2px 3px black;}