html{
    background-color: #FDF8AB;
}
#article{
    background-color: #FFF;
    border: solid 3px #85A110;
    width: 760px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman';
    letter-spacing: 1px;
    color: #85A110;
    text-transform: uppercase;
    background-color: #E2EBB4;
    text-align: center;
    margin: 0px -15px 20px -15px;
}

h2{
    font-size: 24px;
    font-family: Arial Narrow;
    color: #F96B18;
    border-top: 2px dotted #8DA516;
    border-bottom: 2px dotted #8DA516;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}
.sidebar{
    width: 30%;
    margin: 10px;
    float: right;
    background-color: #FAEBC7;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px dotted #FC6512;
    border-top: solid 20px #FC6512;

}
div h2{
    border: 0px;
    margin-top: 0px;
    padding: 0px;
}
