
	h1 {font-family: Verdana; 
		font-size: 24px;
		color: red;
		margin-left: 20px;
		text-shadow: 2px 2px 2px black;
	}
		
	h2 {font-family: "Comic Sans MS"; 
		font-size: 18px;
		color: navy;
		margin-left: 20px;
		text-decoration: underline;}
		
	p { font-family: Verdana; 
		font-size: 16px; 
		color: gray;
		text-align: justify;
		margin-left: 20px;
		margin-right: 20px;
		text-indent: 10px;}

	.impar {font-style: italic; 
			font-weight: 300;
			line-height: 120%;}	
			
	.par {text-shadow: 2px 2px 7px;
		 font-variant: initial;}	

	#ultimo {text-transform: capitalize;
			 word-spacing: 10px;}	