/*Probando el posicionamiento relativo*/
.dentro-div{
    width: 1100px;
    height: 1200px;
    background-color: gray;
    text-align:center;
    position: relative; /*No ocurre nada*/
}

img{
    width: 300px;
    height: 225px;
    border: 3px solid red;
    margin: 10px 10 px;
}
#foto1{
    /*position: relative;
    top: 20px;
    left: 30px;
    z-index: 3;*/
    /*position: absolute;
    top: 20px;
    right: 30px;*/
    position:fixed;/*Posicionamiento fijo*/
}
#foto2{
    /*position: relative;
    top: 40px;
    left: -40px;
    z-index: 2;*/
    /*position: absolute;
    top: 40px;
    left: -40px;*/
}
#foto3{
    /*position: relative;
    left: 490px;*/
    /*position: absolute;
    left: 490px;*/
}