body {background-color:  #d3d3d3;}

#contenido {background-color: rgb(255, 255, 255); 
            width: 75%; 
            margin: 0 auto;}

h1{ font-family: Verdana; 
    font-size: 24px; 
    color: rgb(255, 0, 0); 
    margin-left: 20px; 
    }

h2{ font-family: Comic Sans Ms; 
    font-size: 18px; 
    color: navy; 
    margin-left: 20px; 
    }

p{  font-family: Verdana; 
    font-size: 16px; 
    color: gray; 
    text-align: justify; 
    margin-left: 20px; 
    margin-right: 20px;}