.clase1 {font-family:'Times New Roman', Times, serif; 
         color: rgb(76, 235, 76);
         outline-color: red;
         outline-style: dashed;
         outline-width: 3px;
         border-radius: 30px;
         text-align: center;}

.clase2 {font-family: Arial, Helvetica, sans-serif; 
         color: coral;
         outline-color: blueviolet;
         outline-style:groove;
         outline-width: 3px;
         text-align: center;}

.clase3 {font-family: cursive; 
         color: cornflowerblue;
         outline-color: blue;
         outline-style: dotted;
         outline-width: 4px;
         text-align: center;}

.clase4 {font-family: fantasy; 
         color: crimson;
         outline-color: rgb(209, 96, 83);
         outline-style:ridge;
         outline-width: 5px;
        text-align: center;}

.clase5 {font-family: 'Courier New', Courier, monospace; 
         color: darkolivegreen;
         outline-color: lightcoral;
         outline-style: outset;
         outline-width: 5px;
         text-align: center;}

.clase6 {font-family: 'Reenie Beanie', cursive; 
         color: red; 
         font-size: x-large;
         outline-color: lightcyan;
         text-align: center;}

.clase7 {font-family: 'Lucida Sans', 'Lucida Sans Regular'; 
         color: rgb(186, 86, 199); 
         font-size:300%; 
         text-align: center;
         text-shadow: 2px 2px 3px black;
        text-align: center;}