#main{
    float: left;
    width: 580px;
}

#sidebar{
    padding: 15px;
    background-color: #E9F5FE;
    margin-left: 600px;
}

body{
    color: #B1967C;
    font-family: Palatino Linotype, Baskerville;
    padding-top: 100px;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: #CDE6FF url(./imagenes/bg_body.png) repeat-x;
}

h1{
    font-size: 3em;
    font-family: Arial Black;

}

h2{
    font-size: 2.2em;
    color: #AFC3D6;
    margin-bottom: 5px;
}

.h2main{
    color: #E8A064;
    border-bottom: 2px white solid;
    background-image: url(./imagenes/bullet_flower.png);
    background-repeat: no-repeat;
    padding: 0px 0px 10px 80px;
}