body{
    background-color: #C0C0C0;
}
#wrapper{
    background-color: white;
    width: 90%;
    height: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: solid 1px black; 
    text-align: center;
}
#banner{
    background-color: #FF6600;
    height: 75px;
    border-bottom: 1px solid black;
}
#signup{
    width: 180px;
    height: 30px;
    background-color: #9966CC;
    border: 1px solid black;
    float: right;
    margin-top: 5px;
    margin-right: 5px;    
}
#main{
    height: 300px;
    background-color: #9966CC;
    background-image: url(./imagenes/azul.jpg);
    background-repeat: no-repeat;
    background-position:left bottom;
    border-bottom: 1px solid black;
}
#tag{
    width: 120px;
    height: 60px;
    background-color: #ff6600;
    border: 1px solid black;
    float: right;
    margin-top: 100px;
    margin-right: 100px;  
}
news{
    height: 150px;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid black;
}
.news1{
    background-color: #C0C0C0;
    width: 30%;
    height: 130px;
    margin-top: 10px;
    display: inline-block;
}
#footer{
    height: 75px;
    background-color: #33CC33;
    text-align: center;
    border-bottom: 1px solid black;
}
#testimony{
    background-color: #9966CC;
    margin-top: 10px;
    height: 55px;
    border: 1px solid black;
    display: inline-block;
    width: 25%;

}
#contact{
    background-color: #9966CC;
    margin-top: 10px;
    height: 55px;
    border: 1px solid black;
    display: inline-block;
    width: 45%;
}
#location{
    background-color: #9966CC;
    margin-top: 10px;
    height: 55px;
    border: 1px solid black;
    display: inline-block;
    width: 15%;
}
